:root{
    --verde: hsl(75, 94%, 57%);
    --Blanco: hsl(0, 0%, 100%);
    --Gris-claro:hsl(0, 0%, 20%);
    --Gris-medio: hsl(0, 0%, 12%);
    --Gris-oscuro:hsl(0, 0%, 8%);
    --fuente:"Inter";
}

html{
    font-size: 62.5%;
    box-sizing: border-box;/* esto funciona para que el padding no haga mas grande el elemento*/
}
*,*::before, *::after{
    box-sizing: inherit;
}
/** Estilos Generales **/
h1{
 font-size: 2.4rem;
 font-weight: 700;
 font-family: var(--fuente);
}
h2{
 font-size: 1.4rem;
 font-weight: 700;
 font-family: var(--fuente);
}
p{
 font-size: 1.4rem;
 font-weight: lighter;
 font-family: var(--fuente);
}

body{
    background-color: var(--Gris-oscuro);
    width: 100%;
    height: auto;
}
main{
    width: 90%;
    margin: 0 auto;
    
    margin: 9rem 0.8rem 2rem 0.8rem;
    background-color: var(--Gris-medio);
    border-radius: 0.8rem;
    padding: 3rem 1rem;
}
.contenedor--principal-informacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.contenedor--principal-informacion img{
    width: 8rem;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.contenedor--principal-informacion h1{
    color: var(--Blanco);
    margin: 0;
    height: 3.8rem;
}
.contenedor--principal-informacion h2{
    color: var(--verde);
    margin: 0;
    height: 3.6rem;
    margin-bottom: 1.0rem;
}
.contenedor--principal-informacion p{
    color: var(--Blanco);
    margin: 0;
    height: 2.4rem;
    margin-bottom: 1.5rem;
}
.contenedor--principal--redes{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-top: 1.5rem;
}
.contenedor--principal--redes .redes{
    background-color: var(--Gris-claro);
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    color: var(--Blanco);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--fuente);
    
}
.redes:hover{
    background-color: var(--verde);
    color: var(--Gris-oscuro);
    cursor: pointer;
}
footer{
    text-align: center;
    color: var(--verde);
}
footer a{
    color: var(--Blanco);
    text-decoration: none;
}
/** Media Query **/

@media(min-width:768px){
    main{
        margin: 20rem auto;
        width: 50%;
        
    }
}

@media(min-width:1000px){
    main{
        margin: 20rem auto;
        width: 40%;
        
    }
}