:root{
    --Blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Blue1:  hsl(217, 54%, 11%);
    --Blue2:  hsl(216, 50%, 16%);
    --Blue3:  hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --fuente: 'Outfit', sans-serif;
}

html,*{
    font-size: 62.5%;
    box-sizing: border-box;/* esto funciona para que el padding no haga mas grande el elemento*/
}
*,*::before, *::after{
    box-sizing: inherit;
}


body{
    background-color: var(--Blue1);
    width: 100%;
}
main{
    width: 90%;
    background-color: var(--Blue2);
    margin: 7rem auto 1rem auto;
    border-radius: 1rem;
    padding: 2rem 0.5rem;
}
.contenedor-carta-img,.contenedor-carta-info{
   width: 90%;
   height: auto;
   margin: 0 auto;
   font-family: var(--fuente);
    position: relative;
   
   

}

.contenedor-carta-img img{
    width: 100%;
    border-radius: 0.8rem;
    background-position: cover;
    background-repeat: no-repeat;  
   
}

.hover-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--Cyan);
    top : 0;
    right: 0;
    background-image: url('./images/icon-view.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.4rem;
    opacity: 0;
}
.hover-icon:hover{
    opacity: 0.8;
    
}


.contenedor-carta-info h1{
    color: var(--White);
    width: 55%;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.contenedor-carta-info:hover h1,.contenedor-carta-perfil:hover span{
    color: var(--Cyan);
    cursor: pointer;
}
.contenedor-carta-info:nth-child(2){
    color: var(--Blue);
    font-size: 2.4rem;
    line-height: 2rem;
    margin-top: 0;
    
}
.precios{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr 1fr;
    margin-bottom: 1rem;
}
.precio{
    width: 15rem;
    color: var(--Cyan);
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;   
}
.dias{
    color: var(--Blue);
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;   
}

.contenedor-carta-perfil{
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-top: 0.1rem solid var(--Blue3);
    padding-top: 1.5rem;
}
.contenedor-carta-perfil img{
    width: 3rem;
    height: 3rem;
    background-position: cover;
    background-repeat: repeat;
    border: 1px solid var(--White);
    border-radius: 50%;
}
.contenedor-carta-perfil p{
    color: var(--Blue);
    font-family: var(--fuente);
    font-size: 1.3rem;
    margin: 0;
    padding-left: 1rem;
}
.contenedor-carta-perfil span{
    color: var(--White);
    font-weight: 600;
    font-size: 1.3rem;
}

.attribution{
font-size: 1.2rem;
color: var(--White);
font-family: var(--fuente);
text-align: center;
}
.attribution a{
    font-size: 1.2rem;
    color: var(--Cyan);
    text-decoration: none;
}

    
@media(min-width:768px){
    main{
        width: 50%;
        margin-top: 90px;
    }
}

@media(min-width:1000px){
    main{
        width: 25%;
        margin-top: 190px;
    }
    .contenedor-carta-img,.contenedor-carta-info{
   width: 80%;

   

}

.contenedor-carta-img img{
    width: 100%;
    border-radius: 0.8rem;
    background-position: cover;
    background-repeat: no-repeat;  
   
}
    
}


