:root{
--Purple-100: hsl(254, 88%, 90%);
--Purple-500: hsl(256, 67%, 59%);
--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
--body: rgb(247, 247, 241);
--font-family:"DM Sans", sans-serif;
}

html,*{
    font-size: 62.5%;
    box-sizing: border-box;/* esto funciona para que el padding no haga mas grande el elemento*/
}
*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var(--font-family);
    width: 100%;
    margin: 0;
    background-color: var(--body);
    
}
.container{
   margin: 2rem auto;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(8,0.5fr);
    gap: 2rem;
}

.tarjeta{
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.tarjeta1{
    background-color: var(--Purple-500);
    color: var(--White);
}
.tarjeta1 h1{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0;
}
.tarjeta1 span{
    color: var(--Yellow-500);
    font-size: 4.5rem;
    font-weight: 400;
}
.tarjeta1 img{
    width: 60%;
    margin-top: 1rem;
}
.tarjeta1 p{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.tarjeta2{
    height: 15rem;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--Yellow-100);
    color: var(--Black);
}
.tarjeta2 img{
    width: 100%;
    margin-bottom: 1rem;
}
.tarjeta2 h2{
    text-align: left;
    font-size: 1.9rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    line-height: 1.8rem;
}
.tarjeta3{
    padding: 2rem 2rem 0 2rem;
    background-color: var(--Yellow-500);
    color: var(--Black);
    text-align: left;  
}
.tarjeta3 h2{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.8rem;
    
}
.tarjeta3 img{
    margin-top: 1rem;
    width: 60%;
    height: 72%;
}

.tarjeta4{
    background-color: var(--Purple-100);
    color: var(--Black);
    text-align: center;
    padding: 2rem 2rem 0 2rem;  
}
.tarjeta4 h2{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
}
.tarjeta4 img{
    width: 80%;
}
.tarjeta4 p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.tarjeta5{
    background-color: var(--Purple-500);
    color: var(--White);
    font-family: var(--font-family);
}
.tarjeta5 img{
    width: 80%;
    margin-bottom: 2rem;
}
.tarjeta5 h2{
    width: 90%;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 0 1rem;
}
.tarjeta6{
    background-color: var(--White);
    text-align: left;
    color: var(--Black);
}
.tarjeta6 h2{
    font-size: 4rem;
    margin: 0;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.tarjeta6 p{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}   
.tarjeta6 img{
    width: 80%;
    margin-top: 1.5rem;
}

.tarjeta7{
    background-color: var(--Yellow-100);
    color: var(--Black);
    text-align: left;
}
.tarjeta7 h2{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.tarjeta7 span{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--Purple-500);
    line-height: 2rem;
}
.tarjeta7 img{
    width: 80%;
    margin: 2rem 0;
}
.tarjeta8{
    background-color: var(--Yellow-500);
    color: var(--Black);
    text-align: left;
}
.tarjeta8 h2{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.tarjeta8 img{
    width: 80%;
    margin: 2rem 0;
}

/* ----------Media queries Desktop ------*/ 

@media (min-width: 1024px){
    .container{
        width: 90%;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,30rem);
        gap: 2rem;
    }
    .tarjeta1{
        display: flex;
        flex-direction: column;
        grid-column:2/4;
        grid-row: 1/2;
        justify-content: center;   
    }
    .tarjeta1 h1{
        font-size: 5rem;
        line-height: 5rem;
    }
    .tarjeta1 span{
        font-size: 5.5rem;
    }
    .tarjeta1 img{
        width: 40%;
        margin-top: 2rem;
    }
    .tarjeta1 p{
        font-size: 2rem;
    }
    .tarjeta7{
        display: flex;
        flex-direction: column;
        grid-column:1/2;
        grid-row: 1/2;
        justify-content: center;
    }
    .tarjeta7 h2{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 3rem;
    }
    .tarjeta7 span{
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--Purple-500);
    line-height: 2rem;
    }
    .tarjeta4{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: 4/5;
        grid-row: 1/3;
        padding: 3rem;
        text-align: left;
    }
    .tarjeta4 h2{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 600;
    line-height: 3rem;
    }
    .tarjeta4 img{
        width: 100%;
        height: 35rem;
        
    }
    .tarjeta4 p{
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
    .tarjeta8{
        grid-column: 1/2;
        grid-row: 2/4;
        padding: 3rem;
        text-align: left;
    }
    .tarjeta8 h2{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 5rem;
    font-weight: 600;
    line-height: 4rem;
    }   
    .tarjeta8 img{
        width: 100%;
        height: 35rem;
        margin: 2rem 0;
    }
    .tarjeta2{
        grid-column: 2/3;
        grid-row: 2/3;
        height: auto;
        padding: 3rem 3rem 0 3rem;
    }
    .tarjeta2 h2{
        margin-top: 2rem;
        font-size: 4rem;
        line-height: 3rem;
    }
    .tarjeta3{
        grid-column: 3/4;
        grid-row: 2/3;
        height: auto;
        padding: 3rem 3rem 0 3rem;
    }
    .tarjeta3 h2{
        margin: 1.5rem 0;
        font-size: 4rem;
        line-height: 3rem;
    }
    .tarjeta3 img{
        width: 100%;
        height: 42%;  
    }
    .tarjeta5{
        display: flex;
       align-items: center;
        grid-column: 3/5;
        grid-row: 3/4
    }
    .tarjeta5 h2{
        font-size: 4rem;
        line-height: 3rem;
    }
    .tarjeta5 img{
        width: 90%;
        
    }
    
}